<h3><strong>Analysis Complete</strong></h3>
<br>
<h4>Based on <%= @results.num_results %> craigslist listings matching "<%= @results.search_query %>":</h4>
<h3>The mean price is <%= @results.mean %></h3>
<h3>The median price is <%= @results.median %></h3>
<h3>The mode price for is <%= @results.mode %></h3>
<br>
<h4><a href="<%= @results.url %>">See Your Results</a></h4>